.square__container {
  display: flex;
}

.container {
  width: 1280px;
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
}

.chooseMode__container {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.square__container {
  display: flex;
  gap: 30px;
}
